<div class="flex justify-center">
    <div class="w-full max-w-2xl bg-gray-900 border-width-1 border-gray-800 rounded-lg shadow p-6">
        <div class="flex flex-col items-center justify-center pb-3 border-b-1 border-x-0 border-t-0 border-b-gray-700">
            <h5 class="text-xl font-bold leading-none text-white">
                PARTIDOS JORNADA {{ jornadaActual }}
            </h5>
            <h5 class="text-sm truncate font-bold leading-none text-gray-300">
                Segunda Andaluza Jaén - Grupo 2
            </h5>
        </div>
        <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-700">
                <li class="py-3 sm:py-4" *ngFor="let partido of jornadaActualArray?.partidos">
                    <div class="flex items-center col-auto w-full" *ngIf="partido.descansa === undefined">
                        <div class="flex-1 text-end me-2">
                            <p class="text-sm font-medium text-gray-200">{{ partido.equipoLocal }}</p>
                        </div>
                        <div class="flex-shrink-0">
                            <img class="h-10" src="{{partido.escudoLocal}}" alt="Escudo {{partido.equipoLocal}}" />
                        </div>
                        <div class="flex flex-col justify-center items-center mx-4 apartado-fecha">
                            @if (partido.tieneResultado) {
                                <p class="text-xl font-medium text-gray-100 truncate">{{partido.resultado}}</p>
                            } @else {
                                <p class="text-sm font-medium text-gray-300 truncate">
                                    {{partido.fecha}}
                                </p>
                                <p class="text-sm font-medium text-gray-100 truncate">{{partido.hora}}</p>
                            }
                        </div>
                        <div class="flex-shrink-0">
                            <img class="h-10" src="{{partido.escudoVisitante}}" alt="Escudo {{partido.equipoVisitante}}" />
                        </div>
                        <div class="flex-1 text-start ms-2">
                            <p class="text-sm font-medium text-gray-200">{{partido.equipoVisitante}}</p>
                        </div>
                    </div>
                </li>
                <!-- !! AQUÍ ABRE MODAL PARA VER EL RESTO DE JORNADAS !! -->
                <li class="pt-3 sm:pt-4">
                    <div class="flex justify-center items-center col-auto w-full">
                        <button type="button" (click)="verMasJornadas(modalJornadas)"
                            class="text-gray-200 hover:text-white border-width-1 border-gray-600 hover:bg-gray-600 focus:ring-2 focus:outline-none focus:ring-gray-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                            VER MÁS JORNADAS
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<ng-template #modalJornadas let-modal let-c="close" let-d="dismiss">
    <div class="modal-header justify-center bg-gray-800 overflow-x-auto border-gray-700">
        <div class="" *ngFor="let jornada of jornadasModal">
            <button type="button" (click)="selectJornada(jornada.numero)"
                class="rounded-full mr-1 w-8 h-8 flex justify-center items-center bg-gray-600 hover:bg-gray-800 text-white border-width-1 border-gray-700"
                [ngClass]="{'bg-green-800': jornadaSeleccionada?.numero === jornada.numero}">
                <span>J{{ jornada.numero }}</span>
            </button>
        </div>
    </div>
    <div class="modal-body bg-gray-800 border-gray-700 py-0 px-6" *ngIf="selectJornada">
        <ul role="list" class="divide-y divide-gray-700">
            <li class="py-3 sm:py-4" *ngFor="let partido of jornadaSeleccionada?.partidos">
                <div class="flex items-center col-auto w-full" *ngIf="partido.descansa === undefined">
                    <div class="flex-1 text-end me-2">
                        <p class="text-sm font-medium text-gray-200">{{ partido.equipoLocal }}</p>
                    </div>
                    <div class="flex-shrink-0">
                        <img class="h-10" src="{{partido.escudoLocal}}" alt="Escudo {{partido.equipoLocal}}" />
                    </div>
                    <div class="flex flex-col justify-center items-center mx-4 apartado-fecha">
                        @if (partido.tieneResultado) {
                            <p class="text-xl font-medium text-gray-100 truncate">{{partido.resultado}}</p>
                        } @else {
                            <p class="text-sm font-medium text-gray-300 truncate">
                                {{partido.fecha}}
                            </p>
                            <p class="text-sm font-medium text-gray-100 truncate">{{partido.hora}}</p>
                        }
                    </div>
                    <div class="flex-shrink-0">
                        <img class="h-10" src="{{partido.escudoVisitante}}" alt="Escudo {{partido.equipoVisitante}}" />
                    </div>
                    <div class="flex-1 text-start ms-2">
                        <p class="text-sm font-medium text-gray-200">{{partido.equipoVisitante}}</p>
                    </div>
                </div>
                <!-- Se comenta por si en algún momento volviese a hacer falta -->
                <!-- <div class="flex justify-center items-center col-auto w-full" *ngIf="partido.descansa">
                    <p class="text-sm font-medium text-gray-200 me-2">
                        Descansa: {{partido.equipoLocal}}
                    </p>
                    <img class="h-10" src="{{partido.escudoLocal}}" alt="Escudo {{partido.equipoLocal}}" />
                </div> -->
            </li>
        </ul>
    </div>
    <div class="modal-footer justify-center bg-gray-800 border-gray-700">
        <button type="button"
            class="text-gray-200 hover:text-white border-width-1 border-gray-600 hover:bg-gray-600 focus:ring-2 focus:outline-none focus:ring-gray-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            (click)="c('Close Click')">
            CERRAR
        </button>
    </div>
</ng-template>