<div class="flex justify-center">
    <div class="w-full max-w-2xl bg-gray-900 border-width-1 border-gray-800 rounded-lg shadow sm:p-6">
        <div class="flex flex-col items-center justify-center pb-4 border-b-1 border-x-0 border-t-0 border-b-gray-700">
            <h5 class="text-xl font-bold leading-none text-white">
                PARTIDOS JORNADA 1
            </h5>
            <h5 class="text-sm truncate font-bold leading-none text-gray-300">
                Segunda Andaluza Jaén - Grupo 2
            </h5>
        </div>
        <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                <li class="py-3 sm:py-4">
                    <div class="flex items-center col-auto w-full">
                        <div class="flex-1 text-end me-3">
                            <p class="text-sm font-medium text-gray-200">
                                CD Torreperogil B
                            </p>
                        </div>
                        <div class="flex-shrink-0">
                            <img class="h-10" src="/assets/escudos/cd-torreperogil.png" alt="Escudo Torreperogil" />
                        </div>
                        <div class="flex flex-col justify-center items-center mx-5 apartado-fecha">
                            <p class="text-sm font-medium text-gray-300 truncate">
                                Domingo 15 Sept.
                            </p>
                            <p class="text-sm font-medium text-gray-100 truncate">
                                20:00
                            </p>
                        </div>
                        <div class="flex-shrink-0">
                            <img class="h-10" src="/assets/escudos/huesa-ud.png" alt="Escudo Huesa" />
                        </div>
                        <div class="flex-1 text-start ms-3">
                            <p class="text-sm font-medium text-gray-200">
                                Huesa UD
                            </p>
                        </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4">
                    <div class="flex items-center col-auto w-full">
                        <div class="flex-1 text-end me-3">
                            <p class="text-sm font-medium text-gray-200">
                                CD Tugia Juego Limpio
                            </p>
                        </div>
                        <div class="flex-shrink-0">
                            <img class="h-10" src="/assets/escudos/cd-tugia.png" alt="Escudo Tugia" />
                        </div>
                        <div class="flex flex-col justify-center items-center mx-5 apartado-fecha">
                            <p class="text-sm font-medium text-gray-300 truncate">
                                Domingo 15 Sept.
                            </p>
                            <p class="text-sm font-medium text-gray-100 truncate">
                                20:00
                            </p>
                        </div>
                        <div class="flex-shrink-0">
                            <img class="h-10" src="/assets/escudos/mogon-cf.png" alt="Escudo Mogón" />
                        </div>
                        <div class="flex-1 text-start ms-3">
                            <p class="text-sm font-medium text-gray-200">
                                Mogón CF
                            </p>
                        </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4">
                    <div class="flex items-center col-auto w-full">
                        <div class="flex-1 text-end me-3">
                            <p class="text-sm font-medium text-gray-200">
                                Atlético Sabiote
                            </p>
                        </div>
                        <div class="flex-shrink-0">
                            <img class="h-10" src="/assets/escudos/atco-sabiote.png" alt="Escudo Atco. Sabiote" />
                        </div>
                        <div class="flex flex-col justify-center items-center mx-5 apartado-fecha">
                            <p class="text-sm font-medium text-gray-300 truncate">
                                Domingo 15 Sept.
                            </p>
                            <p class="text-sm font-medium text-gray-100 truncate">
                                20:00
                            </p>
                        </div>
                        <div class="flex-shrink-0">
                            <img class="h-10" src="/assets/escudos/cd-castellar-ibero.png" alt="Escudo Castellar Íbero" />
                        </div>
                        <div class="flex-1 text-start ms-3">
                            <p class="text-sm font-medium text-gray-200">
                                CD Castellar Íbero
                            </p>
                        </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4">
                    <div class="flex items-center col-auto w-full">
                        <div class="flex-1 text-end me-3">
                            <p class="text-sm font-medium text-gray-200">
                                Arquillos CF
                            </p>
                        </div>
                        <div class="flex-shrink-0">
                            <img class="h-10" src="/assets/escudos/arquillos-cf.png" alt="Escudo Arquillos" />
                        </div>
                        <div class="flex flex-col justify-center items-center mx-5 apartado-fecha">
                            <p class="text-sm font-medium text-gray-300 truncate">
                                Domingo 15 Sept.
                            </p>
                            <p class="text-sm font-medium text-gray-100 truncate">
                                20:00
                            </p>
                        </div>
                        <div class="flex-shrink-0">
                            <img class="h-10" src="/assets/escudos/cf-arroyo.png" alt="Escudo Arroyo" />
                        </div>
                        <div class="flex-1 text-start ms-3">
                            <p class="text-sm font-medium text-gray-200">
                                CF Arroyo del Ojanco
                            </p>
                        </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4">
                    <div class="flex items-center col-auto w-full">
                        <div class="flex-1 text-end me-3">
                            <p class="text-sm font-medium text-gray-200">
                                Úbeda Rapids
                            </p>
                        </div>
                        <div class="flex-shrink-0">
                            <img class="h-10" src="/assets/escudos/cd-ubeda-rapids.png" alt="Escudo Rapids" />
                        </div>
                        <div class="flex flex-col justify-center items-center mx-5 apartado-fecha">
                            <p class="text-sm font-medium text-gray-300 truncate">
                                Domingo 15 Sept.
                            </p>
                            <p class="text-sm font-medium text-gray-100 truncate">
                                20:00
                            </p>
                        </div>
                        <div class="flex-shrink-0">
                            <img class="h-10" src="/assets/escudos/canena-atco.png" alt="Escudo Canena" />
                        </div>
                        <div class="flex-1 text-start ms-3">
                            <p class="text-sm font-medium text-gray-200">
                                CD Canena Atlético
                            </p>
                        </div>
                    </div>
                </li>
                <li class="pt-3 sm:pt-4">
                    <div class="flex justify-center items-center col-auto w-full">
                        <p class="text-sm font-medium text-gray-200 me-3">
                            Descansa: Jódar CF
                        </p>
                        <img class="h-10" src="/assets/escudos/jodar-cf.png" alt="Escudo Jódar" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>