<div class="flex justify-between items-center bg-gray-900 border-gray-700 h-8 px-3 border-perfil">
    <fa-icon [icon]="volverIcon" class="text-white cursor-pointer" (click)="cerrarModal.emit()"></fa-icon>
    <div>
        <span class="text-white text-sm">Perfil de Jugador</span>
    </div>
</div>
<div class="modal-body bg-gray-900 py-1 px-3">
    <div class="tarjeta-jugador flex">
        <div class="bg-gray-800 bloque-jugador">
            <img src="{{jugador.urlImagen}}" alt="Imagen del jugador" class="img-jugador">
            <img src="{{jugador.urlEscudo}}" class="escudo-jugador">
        </div>
        <div class="bg-gray-700 datos-jugador w-full">
            <div class="flex justify-between items-center">
                <div class="ml-3">
                    <div class="flex mb-1">
                        @if(jugador.posicion == 'POR') {
                        <a
                            class="text-white bg-gradient-to-br from-orange-700 to-orange-500 hover:bg-gradient-to-bl text-sm flex justify-center items-center w-10">{{jugador.posicion}}</a>
                        } @else if (jugador.posicion == 'DEF') {
                        <a
                            class="text-white bg-gradient-to-br from-purple-700 to-purple-500 hover:bg-gradient-to-bl text-sm flex justify-center items-center w-10">{{jugador.posicion}}</a>
                        } @else if (jugador.posicion == 'MED') {
                        <a
                            class="text-white bg-gradient-to-br from-blue-700 to-blue-500 hover:bg-gradient-to-bl text-sm flex justify-center items-center w-10">{{jugador.posicion}}</a>
                        } @else if (jugador.posicion == 'DEL') {
                        <a
                            class="text-white bg-gradient-to-br from-red-700 to-red-500 hover:bg-gradient-to-bl text-sm flex justify-center items-center w-10">{{jugador.posicion}}</a>
                        }

                        <span
                            class="text-bold font-medium text-white text-ellipsis whitespace-nowrap overflow-hidden ms-2">
                            @if (jugador.sobrenombre) {
                            {{jugador.sobrenombre}}
                            } @else {
                            {{jugador.nombre}}
                            }
                        </span>
                    </div>
                    <div class="flex items-center mb-1">
                        <span class="text-bold text-white text-ellipsis whitespace-nowrap overflow-hidden text-sm">
                            <fa-icon [icon]="euroIcon" class="mr-1"></fa-icon> {{jugador.precio}}
                        </span>

                    </div>
                    <div class="flex items-center">
                        @if (jugador.subiendo) {
                        <span class="text-bold text-ellipsis whitespace-nowrap overflow-hidden text-sm text-green-500">
                            <fa-icon [icon]="chevronUpIcon" class=""></fa-icon> + {{jugador.valorSubidaBajada}}
                        </span>
                        } @else if (jugador.bajando) {
                        <span class="text-bold text-ellipsis whitespace-nowrap overflow-hidden text-sm text-red-500">
                            <fa-icon [icon]="chevronDownIcon" class=""></fa-icon> - {{jugador.valorSubidaBajada}}
                        </span>
                        }

                    </div>
                </div>
                <div class="flex flex-col text-end mr-3">
                    <span class="text-bold font-medium text-white text-ellipsis whitespace-nowrap overflow-hidden ms-2">
                        PFSY: 31
                    </span>
                    <span class="text-bold font-medium text-white text-ellipsis whitespace-nowrap overflow-hidden ms-2">
                        Media: 5
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex items-center overflow-x-scroll mt-3">
        <div class="div-jornada" *ngFor="let jornada of jugador.puntuacionJornadas | keyvalue; let i = index">
            <a (click)="verDescripcionJornada(jornada)"
                class="cursor-pointer rounded-md mr-3 w-12 h-20 flex justify-between items-center flex-col"
                [ngClass]="{ 'bg-gray-200 text-gray-900': jornada.key === jornadaActual, 'bg-gray-900 text-gray-200 hover:bg-gray-800': jornada.key !== jornadaActual }">
                <span class="text-xs">J{{ jornada.key }}</span>
                <div class="w-full text-center">
                    @if (jugador.puntuacionJornadas[i + 1].puntos == null) {
                    <span class="text-lg  font-bold">-</span>
                    } @else {
                    <span class="text-lg  font-bold">{{ jugador.puntuacionJornadas[i + 1].puntos }}</span>
                    }
                    @if (jugador.puntuacionJornadas[i + 1].puntos == null) {
                    <div class="barra-puntos h-1 max-h-8 bg-orange-800 rounded-b-md"></div>
                    }
                    @else if (jugador.puntuacionJornadas[i + 1].puntos <= 0 ) { <div
                        class="barra-puntos h-1 max-h-8 bg-red-800 rounded-b-md">
                </div>
                } @else if (jugador.puntuacionJornadas[i + 1].puntos && jugador.puntuacionJornadas[i + 1].puntos <= 2) {
                    <div class="barra-puntos h-2 max-h-8 bg-green-800 rounded-b-md">
        </div>
        } @else if (jugador.puntuacionJornadas[i + 1].puntos && jugador.puntuacionJornadas[i + 1].puntos <= 4) { <div
            class="barra-puntos h-3 max-h-8 bg-green-800 rounded-b-md">
    </div>
    } @else if (jugador.puntuacionJornadas[i + 1].puntos && jugador.puntuacionJornadas[i + 1].puntos <= 6) { <div
        class="barra-puntos h-4 max-h-8 bg-green-800 rounded-b-md">
</div>
} @else if (jugador.puntuacionJornadas[i + 1].puntos && jugador.puntuacionJornadas[i + 1].puntos <= 8) { <div
    class="barra-puntos h-5 max-h-8 bg-green-800 rounded-b-md">
    </div>
    } @else if (jugador.puntuacionJornadas[i + 1].puntos > 8 && jugador.puntuacionJornadas[i + 1].puntos <= 10) { <div
        class="barra-puntos h-6 max-h-8 bg-green-800 rounded-b-md">
        </div>
        } @else if (jugador.puntuacionJornadas[i + 1].puntos > 10 && jugador.puntuacionJornadas[i + 1].puntos <= 12) {
            <div class="barra-puntos h-7 max-h-8 bg-green-800 rounded-b-md">
            </div>
            } @else if (jugador.puntuacionJornadas[i + 1].puntos > 12) {
            <div class="barra-puntos h-8 max-h-8 bg-green-800 rounded-b-md">
            </div>
            }
            </div>
            </a>
            </div>
            </div>
            <div class="w-full mt-3 mb-1">
                <div class="bg-gray-800 w-full text-center px-2 pt-2 rounded-t-md">
                    <h1 class="text-white text-sm">Puntuación Jornada {{ jornadaActual }}</h1>
                </div>
                <ul class="w-full divide-y bg-gray-800 divide-gray-700 p-3 rounded-b-md">
                    <li class="pb-2">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-1 min-w-0">
                                <p class="text-sm truncate text-white">
                                    Estadística
                                </p>
                            </div>
                            <div class="inline-flex items-center text-sm text-white">
                                Puntos
                            </div>
                        </div>
                    </li>
                    <li class="py-2">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-1 min-w-0">
                                <p class="text-sm truncate text-white">
                                    Crónico
                                </p>
                            </div>
                            @if (puntuaciones[jornadaActual].puntosXCronico == 0) {
                                <div class="inline-flex items-center text-orange-500">
                                    {{ puntuaciones[jornadaActual].puntosXCronico }}
                                </div>
                            } @else if (puntuaciones[jornadaActual].puntosXCronico < 0) {
                                <div class="inline-flex items-center text-red-500">
                                    {{ puntuaciones[jornadaActual].puntosXCronico }}
                                </div>
                            } @else if (puntuaciones[jornadaActual].puntosXCronico > 0) {
                                <div class="inline-flex items-center text-green-500">
                                    {{ puntuaciones[jornadaActual].puntosXCronico }}
                                </div>
                            }
                        </div>
                    </li>
                    <li class="py-2">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-1 min-w-0">
                                <p class="text-sm truncate text-white">
                                    Minutos Jugados
                                </p>
                            </div>
                            @if (puntuaciones[jornadaActual].puntosXMinJugados == 0) {
                                <div class="inline-flex items-center text-orange-500">
                                    {{ puntuaciones[jornadaActual].puntosXMinJugados }}
                                </div>
                            } @else if (puntuaciones[jornadaActual].puntosXMinJugados < 0) {
                                <div class="inline-flex items-center text-red-500">
                                    {{ puntuaciones[jornadaActual].puntosXMinJugados }}
                                </div>
                            } @else if (puntuaciones[jornadaActual].puntosXMinJugados > 0) {
                                <div class="inline-flex items-center text-green-500">
                                    {{ puntuaciones[jornadaActual].puntosXMinJugados }}
                                </div>
                            }
                        </div>
                    </li>
                    <li class="py-2">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-1 min-w-0">
                                <p class="text-sm truncate text-white">
                                    Goles
                                </p>
                            </div>
                            @if (puntuaciones[jornadaActual].puntosXGoles == 0) {
                                <div class="inline-flex items-center text-orange-500">
                                    {{ puntuaciones[jornadaActual].puntosXGoles }}
                                </div>
                            } @else if (puntuaciones[jornadaActual].puntosXGoles < 0) {
                                <div class="inline-flex items-center text-red-500">
                                    {{ puntuaciones[jornadaActual].puntosXGoles }}
                                </div>
                            } @else if (puntuaciones[jornadaActual].puntosXGoles > 0) {
                                <div class="inline-flex items-center text-green-500">
                                    {{ puntuaciones[jornadaActual].puntosXGoles }}
                                </div>
                            }
                        </div>
                    </li>
                    <li class="pt-2 pb-0">
                        <div class="flex items-center space-x-4 rtl:space-x-reverse">
                            <div class="flex-1 min-w-0">
                                <p class="text-sm truncate text-white">
                                    Asistencias
                                </p>
                            </div>
                            @if (puntuaciones[jornadaActual].puntosXAsistencias == 0) {
                                <div class="inline-flex items-center text-orange-500">
                                    {{ puntuaciones[jornadaActual].puntosXAsistencias }}
                                </div>
                            } @else if (puntuaciones[jornadaActual].puntosXAsistencias < 0) {
                                <div class="inline-flex items-center text-red-500">
                                    {{ puntuaciones[jornadaActual].puntosXAsistencias }}
                                </div>
                            } @else if (puntuaciones[jornadaActual].puntosXAsistencias > 0) {
                                <div class="inline-flex items-center text-green-500">
                                    {{ puntuaciones[jornadaActual].puntosXAsistencias }}
                                </div>
                            }
                        </div>
                    </li>
                </ul>
            </div>
            </div>